@media only screen and (max-width : 480px) {
  body{
	background-image: url("../images/galaxy.png");
	background-size: 350%;
  }

  .grumpy, .disco{
    width: 40%;
  }

  .nyan{
  	width: 80%;
  	top: 40%;
  }

  .beanie{
  	width: 50%;
  	left: 0;
  }

  .laser, .fluffy, .rotatingCat{
  	width: 50%;
  }

  .audio{
  	position: absolute;
  	z-index: -10;
  }
}