@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

body{
  background-image: url("../images/galaxy.png");
  background-size: cover;
}


img{
  position: absolute;
}

.rotatingCat{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    left: 60%;
    width: 200px;
  }

.grumpy{
    bottom: 0;
    right: 0;
    width: 700px;
  }


#twitter {
  z-index: +100;
  right: 0;
  top: 0;
  padding-top: 2em;
  position: absolute;
}

.nyan{
  width: 700px;
}

.disco, .beanie{
  width: 200px;
}

.fluffy, .laser{
  width: 250px;
}



